/* Botones */

.boton {
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
	-fx-background-color: #ffc800; 
	-fx-border-color: #9a1603; 
	-fx-border-width: 1px; 
	-fx-padding: 10;
}
.boton:armed {
	-fx-background-color:#dc3c26; 
}

.home{
	-fx-graphic:url("/vista/Imagenes/hud/home.png");
}
.exit{
	-fx-graphic:url("/vista/Imagenes/hud/quit.png");
}
.muteMusic{
	-fx-graphic:url("/vista/Imagenes/hud/mutemusic.png");
}
.muteMusic:selected{
	-fx-graphic:url("/vista/Imagenes/hud/music.png");
}
.muteSound{
	-fx-graphic:url("/vista/Imagenes/hud/mutevol.png");	
}
.muteSound:selected{
	-fx-graphic:url("/vista/Imagenes/hud/vol.png");	
}
.botonPasar{
	-fx-graphic:url("/vista/Imagenes/hud/pasar.png");	
}
.botonTransformar{
	-fx-graphic:url("/vista/Imagenes/hud/transformar.png");	
}

/* --------------------- */


.vistaAliados {
	-fx-background-color: #ffc800; 
	-fx-background-color: rgba(41,211,49,0.5);
	-fx-background-radius: 5px; 
	-fx-border-color: #9a1603; 
	-fx-border-color: rgb(222,219,222); 
	-fx-border-width: 4px; 
	-fx-border-radius: 5px; 
	-fx-padding: 10;
}
.marcoPersonaje{
	-fx-background-color: rgba(0,0,0,0);
}
.marcoPersonaje:hover{
	-fx-background-color: rgba(255,255,255,0.4); 
}

.vistaEnemigo {
	-fx-background-color: #dc3c26; 
	-fx-background-color: rgba(24,142,24,0.6);
	-fx-background-radius: 5px; 
    -fx-border-color: #9a1603; 
    -fx-border-color: rgb(222,219,222); 
    -fx-border-width: 4px; 
    -fx-border-radius: 5px;
    -fx-padding: 10;
}
.vistaEnemigo:hover{
	-fx-background-color: #dc3c26; 
	-fx-background-color: rgba(24,142,24,0.6);
	-fx-background-radius: 5px; 
    -fx-border-color: #9a1603; 
    -fx-border-color: rgb(222,219,222); 
    -fx-border-width: 4px; 
    -fx-border-radius: 5px;
    -fx-padding: 10;
}

.nombrePersonaje {
	-fx-font-weight:bolder;
	-fx-font-family:"Gill Sans";
	-fx-font-size: 26px;
}
.outline.nombrePersonaje .text{
	-fx-fill: #fff;
	-fx-stroke: #000;
	-fx-stroke-width: 1px;
}